/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
app-search mat-form-field{
width: 100%;
}
tr.mat-header-row,.mat-raised-button.search{
    background: rgb(31, 127, 168);
}
tr.mat-header-row .mat-sort-header-button{
    color: #fff;
}
.mattable{
    margin-top: 30px;
}