<!-- <p>{{dataSource?.filteredData[0].itemNumber}}</p> -->
<!-- <p  *ngFor="let itemnumber of item_detail">{{ itemnumber.itemNumber}}</p> -->

<!-- 
<select multiple>
  <option value="0">Zero</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
</select> -->

<p>{{value}}</p>
<app-header></app-header>
<div class="col-sm-2 new-campaign">
    <button class="campaign search" mat-raised-button color="primary" (click)="datefilter()"> <i class="fa fa-plus"></i> New
      Campaign
    </button>
  </div>
<form #search="ngForm" class="search-form">

  <div class="col-sm-4">
    <h5 class="col-sm-11">Item Number</h5>
    <!-- <mat-form-field class="col-sm-11">
      <mat-select placeholder="ItemNumber" [formControl]="itemno">

        <mat-option *ngFor="let itemnumber of item_detail" [value]="itemnumber.itemNumber">
          {{itemnumber.itemNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field class="col-sm-11" >
      <mat-select class="itemdesc" placeholder="Item Number" [formControl]="itemno" #singleSelect>
        <ngx-mat-select-search [formControl]="itemnoFilterCtrl" [placeholderLabel]="itemNumberPlaceholder"></ngx-mat-select-search>
        <mat-option *ngFor="let desc of filteredBanks | async" [value]="desc.id">
          {{desc.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-4">
    <h5 class="col-sm-11">Item Description</h5>
    <mat-form-field class="col-sm-11">
        <input matInput placeholder="Input" [formControl]="itemdesc" [readonly]="isItemDescReadOnly">
      <!-- <input matInput type="text" [formControl]="itemno" class="itemno"> -->
    </mat-form-field>
   
  </div>
  <div class="col-sm-4">
    <h5 class="col-sm-11">Assortment</h5>

    <mat-form-field class="col-sm-11">
      <mat-select placeholder="Assortment" [formControl]="Assortment"  #singleSelect>
        <ngx-mat-select-search [formControl]="AssortmentCtrl" [placeholderLabel]="assortmentPlaceholder"></ngx-mat-select-search>
        <mat-option *ngFor="let assortment of assortfilter | async" [value]="assortment.description">
          {{assortment.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-4">
    <h5 class="col-sm-11">Campaign</h5>

    <mat-form-field class="col-sm-11">
      <mat-select placeholder="Campaign" [formControl]="Campaign" #singleSelect>
        <ngx-mat-select-search [formControl]="CampaignCtrl"  [placeholderLabel]="campaignPlaceholder"></ngx-mat-select-search>
        <mat-option *ngFor="let campaign of camp_filter | async" [value]="campaign.description">
          {{campaign.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-6">
      <h5>Campaign Begin Date</h5>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Campaign Begin Date" [formControl]="begin">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <h5>Campaign End Date</h5>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerto" placeholder="Campaign End Date" [formControl]="end">
        <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
        <mat-datepicker #pickerto></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
  <div class="col-sm-12">
    <div class="col-sm-2">
      <button class="search" mat-raised-button color="primary" (click)="datefilter()"><i class="material-icons">
          search
        </i>Search</button>
    </div>
  
    <!-- <div class="col-sm-2">        
        <button class="campaign search" mat-raised-button color="primary" (click)="search.reset()"> cancel
          </button>
      </div> -->
  </div>
</form>
<div class="custom-search-results search-results col-sm-12" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">

  <!-- material table -->
  <table matSort (matSortChange)="sortData($event)" border >
    <tr class="table-header">
      <th mat-sort-header="itemNumber">Item Number
        <div class="drop">
        <span class="dropup">
          <span class="caret"></span>
        </span>
        <span class="dropdown">
          <span class="caret"></span>
        </span></div></th>
      <th mat-sort-header="itemDescription">Item Description<div class="drop">
          <span class="dropup">
            <span class="caret"></span>
          </span>
          <span class="dropdown">
            <span class="caret"></span>
          </span></div></th>
      <th mat-sort-header="assortment">Assortment<div class="drop">
          <span class="dropup">
            <span class="caret"></span>
          </span>
          <span class="dropdown">
            <span class="caret"></span>
          </span></div></th>
      <th mat-sort-header="campaign">Campaign<div class="drop">
          <span class="dropup">
            <span class="caret"></span>
          </span>
          <span class="dropdown">
            <span class="caret"></span>
          </span></div></th>
      <th mat-sort-header="campainBeginDate">Campaign Begin Date<div class="drop">
          <span class="dropup">
            <span class="caret"></span>
          </span>
          <span class="dropdown">
            <span class="caret"></span>
          </span></div></th>
      <th mat-sort-header="campainEndDate">Campaign End Date<div class="drop">
          <span class="dropup">
            <span class="caret"></span>
          </span>
          <span class="dropdown">
            <span class="caret"></span>
          </span></div></th>
    </tr>
    <tr *ngFor="let campaign of questionscard">
      <td>{{campaign.itemNumber}}</td>
      <td>{{campaign.itemDescription}}</td>
      <td>{{campaign.assortment}}</td>
      <td>{{campaign.campaign}}</td>
      <td>{{campaign.campainBeginDate}}</td>
      <td>{{campaign.campainEndDate}}</td>
    </tr>

  </table>
</div>
<div class="col-sm-12">

	<!-- <ng-selectize [config]="singleSelectConfig" [options]="singleSelectOptions?.assortmentDescription" [placeholder]="placeholder"
				   [(ngModel)]="singleSelectValue" ngDefaultControl></ng-selectize> -->
</div>